doctype html
html
    head
        title qq_connect login demo
        script(src='/static/js/common.js')
        script(src='/static/js/jquery.min.js')
        block styles
    body(style="background:white")
        block content
        block scripts